body {
    font-family: Tahoma;
    background-color: darkslateblue;
  }
  
  main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 4rem 1rem;
  }
  
  h1 {
    font-size: 2.5rem;
    color: white;
  }
  
  form {
    width: 30rem;
    margin: 1.5rem;
    padding: 1rem;
    background-color: lightgrey;
    border: 2px solid slateblue;
    box-shadow: 8px 8px 0px 0px rgba(220, 215, 220, 0.75);
    border-radius: 4px;
  }
  
  label {
    font-size: 1.5rem;
  }
  
  #search-input,#search-button {
    font-size: 1.25rem;
    padding: .25rem;
    margin: 1.5rem .25rem;
  }
  
  .output {
    min-height: 12rem;
  
  }
  
  .main-attributes {
    padding: .75rem;
    font-size: 1.25rem;
  }
  
  .weight-height {
    font-size: 1.25rem;
  }
  
  #sprite {
    display: none;
    width: 6rem;
  }
  
  #types span {
    gap: 5px;
    border-radius: 4px;
    border: 2px solid white;
    background-color: orangered;
    padding: .5rem;
    color: white;
  }
  
  table {
    background-color: darkblue;
    color: white;
    border-collapse: collapse;
    margin: 3.5rem;
  }
  
  th, td {
    border: 4px solid lightgrey;
    font-size: 1.25rem;
    padding: .5rem;
    text-align: center;
    width: 10rem;
  }
  
  
  